node_modules
node_modules
prisma/migrations/**
.local-development/development-documents
*.env
.DS_Store
.secrets-private.json
scripts/migrated.json
scripts/production-data.json
scripts/anonymized-data/**
coverage
local-db/**
local-db.js
backup-migrations
local-migrations
int-migrations
tmp-migrations